<mat-card class="container-fluid">
  <mat-card-title align="center">Please Fill out the Driver Information</mat-card-title>
  <app-maps
    [title]="title"
    (locationEvent)="getLatLng($event)"
  >
  </app-maps>
  <br>
  <mat-card-content>
    <form [formGroup]="adminForm">
      <mat-form-field>
        <input type="text" matInput placeholder="Driver's latitude: " formControlName="driverLatitude">
        <mat-error *ngIf="driverLatitude?.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Driver's longitude: " formControlName="driverLongitude">
        <mat-error *ngIf="driverLatitude?.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Driver's full name: " formControlName="driverFullName">
        <mat-error *ngIf="driverFullName?.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Driver's age: " formControlName="driverAge">
        <mat-error *ngIf="driverAge?.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Driver's phone number: " formControlName="driverPhoneNumber">
        <mat-error *ngIf="driverPhoneNumber?.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Driver's years of experience: " formControlName="driverExperience">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Driver's email: " formControlName="driverEmail">
        <mat-error *ngIf="driverEmail?.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <div formGroupName="driverCarInfo">
        <pre></pre>
        <mat-card-title>Please Fill out the Driver's Car Information</mat-card-title>
        <mat-form-field>
          <input type="text" matInput placeholder="Driver's car make: " formControlName="make">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Driver's car model: " formControlName="model">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Driver's car tag: " formControlName="tag">
          <mat-error *ngIf="driverCarTag?.invalid">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button color="primary" [disabled]="adminForm.invalid" type="submit" (click)="onSave()">
      Save Driver
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isAdminFormSubmitted">
  <mat-card-title>Upload the driver photo</mat-card-title>
  <mat-card-content>
    <mat-card-actions align="end">
      <input type="file" multiple value="select" #selectedFile (change)="selectFile($event)"/>
      <button mat-stroked-button color="primary" [disabled]="!selectedFiles" (click)="uploadPhoto()">
        Upload Driver Photo
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

