<div class="custom-datepicker" *ngIf="isDatesPickingAllowed">
  <mat-form-field>
    <mat-chip-list #chipList aria-label="Choose a date" (click)="picker.open()">
      <mat-chip
        *ngFor="let value of model"
        [selectable]="false"
        [removable]="true"
        (removed)="remove(value)"
      >
        {{ value | date }}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input
        [value]="resetModel"
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        (dateChange)="dateChanged($event)"
        [matChipInputFor]="chipList"
        hidden
      />
    </mat-chip-list>
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      [startAt]="init"
      [dateClass]="dateClass"
    ></mat-datepicker>
  </mat-form-field>
</div>
<div class="form-group">
  <form class="example-search-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <input matInput placeholder="{{title}}" autocorrect="on" autocapitalize="off" spellcheck="off"
             #search>
    </mat-form-field>
  </form>
</div>

<div class="container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker *ngFor="let passenger of passengerCoordinatesArray"
      [latitude]="passenger.latitude"
      [longitude]="passenger.longitude"
      [markerDraggable]="true"
      [markerClickable]="true"
      (dragEnd)="markerDragEnd($event)"
      (markerClick)="clickedMarker(infoWindow)"
    >
      <agm-info-window #infoWindow>
        <strong>passengerName: {{passenger.name}}</strong>
      </agm-info-window>
    </agm-marker>
    <agm-polyline (lineClick)="lineClick($event)" [editable]="true" [clickable]="true" [visible]="true" [strokeWeight]="7" [strokeColor]="'#07b57a'">

      <agm-polyline-point *ngFor="let coordinate of passengerCoordinatesArray"
                          [latitude]="coordinate.latitude" [longitude]="coordinate.longitude"></agm-polyline-point>
    </agm-polyline>
  </agm-map>
  <pre></pre>
  <button *ngIf="canSendLatLong" mat-flat-button
          color="primary"
          (click)="sendLngLat()"
  >
    Find latitude and longitude
  </button>
</div>

