<div class="custom-datepicker" *ngIf="isDatesPickingAllowed">
  <mat-form-field>
    <mat-chip-list #chipList aria-label="Choose a date" (click)="picker.open()">
      <mat-chip
        *ngFor="let value of model"
        [selectable]="false"
        [removable]="true"
        (removed)="remove(value)"
      >
        {{ value | date }}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input
        [value]="resetModel"
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        (dateChange)="dateChanged($event)"
        [matChipInputFor]="chipList"
        hidden
      />
    </mat-chip-list>
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      [startAt]="init"
      [dateClass]="dateClass"
    ></mat-datepicker>
  </mat-form-field>
</div>
<div class="form-group" *ngIf="canSearch">
  <form class="example-search-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <input matInput placeholder="{{title}}" autocorrect="on" autocapitalize="off" spellcheck="off"
             #search>
    </mat-form-field>
  </form>
</div>

<div class="container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker *ngFor="let driver of driverCoordinatesArray"
                [latitude]="driver.latitude!"
                [longitude]="driver!.longitude!"
                [markerDraggable]="false"
                [markerClickable]="true"
                (dragEnd)="markerDragEnd($event)"
                (markerClick)="clickedMarker(infoWindowDriver)"
                [iconUrl]="'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|9013fe'"
    >
      <agm-info-window #infoWindowDriver>
        <strong>DriverName: {{driver.name}}</strong>
      </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let passenger of passengerCoordinatesArray"
                [latitude]="passenger.latitude"
                [longitude]="passenger.longitude"
                [markerDraggable]="true"
                [markerClickable]="true"
                (dragEnd)="markerDragEnd($event)"
                (markerClick)="clickedMarker(infoWindow)"
                [iconUrl]="'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|d0021b'"

    >
      <agm-info-window [isOpen]="false" #infoWindow>
        <strong>passengerName: {{passenger.name}}</strong>
      </agm-info-window>
    </agm-marker>
    <agm-polyline (lineClick)="lineClick($event)" [editable]="false" [clickable]="true" [visible]="true"
                  [strokeWeight]="3" [strokeColor]="'#4fa91e8c'" *ngFor="let route of routes index as i"
    >
      <agm-icon-sequence
        [path]="'FORWARD_OPEN_ARROW'"
        [rotation]="2"
        [fixedRotation]="false"
        [offset]="'100'"
      >
      </agm-icon-sequence>
        <agm-polyline-point
          [latitude]="route.driverLatitude" [longitude]="route.driverLongitude">
        </agm-polyline-point>
      <agm-polyline-point
        [latitude]="route.passengerLatitude" [longitude]="route.passengerLongitude">
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
  <pre></pre>
  <button *ngIf="canSendLatLong" mat-flat-button
          color="primary"
          (click)="sendLngLat()"
  >
    Find latitude and longitude
  </button>
</div>
