agm-map {
  height: 400px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}
.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: #673ab7 !important;
  color: #fff !important;
}
.custom.mat-card{
 margin: 30px; padding: 30px;
}


