mat-card {
  padding: 50px;
  margin: 100px;
}
.my-class {
  display: flex;
  justify-content: center;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card {
  box-shadow: 0 0 10px 0 #9b9b9b,
  0 1px 1px 0 #9b9b9b,
  0 1px 3px 0 #9b9b9b;
}
mat-divider {
  background-color: rgba(255, 255, 255, 0.5);
}
.google-sign-in {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.custom-g {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
