<mat-card>
  <mat-card-title class="my-class">Please Sign-In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="username?.invalid">
          Your username must be at least 5 characters long
        </mat-error>
      </mat-form-field>
      <pre></pre>
      <mat-form-field>
        <input [type]="showPassword ? 'text' : 'password'" name="password" matInput placeholder="Password" formControlName="password">
        <mat-icon color="primary" matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off': 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="password?.invalid">
          Your password must be at least 5 characters long
        </mat-error>
      </mat-form-field>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>
      <mat-card-actions align="end" fxLayoutGap="16px">
        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid" (click)="onSubmit() ">
          Sign-In
        </button>
        <button mat-flat-button color="primary" (click)="onDontHaveAccount()">
          Don't have an Account?
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-divider [inset]="true">
    </mat-divider>
    <pre></pre>
    <i class="google-sign-in">Or sign-in with Google</i>
    <pre></pre>
    <mat-divider [inset]="true">
    </mat-divider>
    <pre></pre>
    <div class="custom-g">
      <div id="g_id_onload"
           data-client_id="1022195572444-t73os20nn8jmklnh8cn5tcdlc25ql1eo.apps.googleusercontent.com"
           data-login_uri="http://localhost:4200/"
           data-auto_prompt="true">
      </div>
      <div class="g_id_signin"
           data-type="standard"
           data-size="large"
           data-theme="outline"
           data-text="sign_in_with"
           data-shape="rectangular"
           data-logo_alignment="left">
      </div>
    </div>
  </mat-card-footer>
</mat-card>
