<h1 mat-dialog-title>Please select existing driver to assign a passenger</h1>
<div mat-dialog-content>
  <mat-selection-list #selectedlist [multiple]="false">
    <mat-list-option *ngFor="let driver of drivers!" [value]="driver">
      {{driver.name}}
    </mat-list-option>
  </mat-selection-list>
</div>

<div mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="selectedlist.selectedOptions.selected[0]?.value" cdkFocusInitial color="primary">
    Assign
  </button>
  <button mat-flat-button color="warn" (click)="close()">Close</button>
</div>

