<mat-toolbar color="primary">
  <span>Driver Information</span>
  <div fxHide.lt-md>
    <span class="column-label">Columns</span>
    <mat-slider [max]="6" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true">
    </mat-slider>
  </div>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let driver of drivers">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title class="title_center">Name: {{driver.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/jpg;base64,' + driver.carPhoto" alt="Driver's car photo">
        <mat-card-content>
                  <p>
                    Age: {{driver.age}} <br>
                    Phone Number: {{driver.phoneNumber}}<br>
                    Experience: {{driver.experience}}<br>
                    Email: {{driver.email}}<br>
                    Car Model: {{driver.carModel}}<br>
                    Car Make: {{driver.carMake}}<br>
                    Car Tag: {{driver.carTag}}<br>
                  </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button color="primary" mat-button matTooltip="View assigned passengers" (click)="viewPassengers(driver)">View</button>
          <button color="primary" mat-button matTooltip="Edit driver" (click)="onClickEdit(driver)">Edit</button>
          <button color="warn" mat-button matTooltip="Delete driver" (click)=deleteOnClick(driver.id!)>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
