table {
  width: 100%;
  padding: 50px;
}
.mat-row:hover {
  background-color: lightblue;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}
