table {
  width: 100%;
  padding: 50px;
}
.mat-row:hover {
  background-color: #E7F9F0;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

tr:hover {
  background: #E9CBFF;
}
mat-form-field {
  max-width: 150px;
  /*min-width: 50px;*/
}
