:host {
  padding: 30px;
}
mat-form-field {
  width: 100%;
}

.mat-card {
  box-shadow: 0 0 10px 0 #9b9b9b,
  0 1px 1px 0 #9b9b9b,
  0 1px 3px 0 #9b9b9b;
}

.blue-snackbar {
  background: lightblue;
}
