.image{
  height:40em; background-size:cover; width:auto;
  background-image:url('https://www.google.com/search?q=shuttle+service&safe=active&rlz=1C1GCEB_enTR1000TR1000&sxsrf=ALiCzsY9Be6YUpQH7ryRLOiFshZh8k_yuQ:1659780413083&source=lnms&tbm=isch&sa=X&ved=2ahUKEwii6LTv-7H5AhWH57sIHdAVDzcQ_AUoAXoECAMQAw&biw=960&bih=936&dpr=1#imgrc=w-Tu8dhYI7nX9M');
  background-position:50% 50%;
}
